*{animation: fadin 0.5s linear;}
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: rgb(162, 162, 162);
}::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color:  #2c2c2b8b;
}
#lateral {
    position: sticky;
    width: 100%;
    height:4em ;
    background-color: #e7d8c98b;
    z-index: 2;
    top: 0;
}
.headerzin {
    
    color: rgb(0, 0, 0);
    display: inline-flex;
    margin-left: 1.8em;
    position: relative;
    left: 17px;
    top: -29px;

}
.headerzin:hover{
  color: #ffffff;
}

.td:hover{
  color: #ffffff;
}
.fr{
  display: inline-flex;
    margin-left: 1.4em;
    position: relative;
}
.td{
  position: absolute;
  display: inline-block;
  margin-top: -4.5EM;
  color: rgb(0, 0, 0);
  margin-left: 1.4em;
}
#drop{position: relative;}
    #drop ul{position: absolute;
    display: none;
    width: 50%;
    margin-left: -2px;}
    
    #drop ul li {display: block;
    width: 30%;
    margin-left: 5px;}
    .i{
      margin-left: 5.5em;
    }
    #drop:hover ul{
        border-style: #000000;
        display: block;
        margin-top: 8vh;
        margin-left: -1%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.61);
       
    }
.bloco{
        position: absolute;
        width: 8em;
        height: 2px;
        background-color: #000000;
        margin-top:-5.5em;
        margin-left:-1.5em ;
        box-sizing: border-box; 
    }
    .f{
      position: absolute;
      color: #000000;
      margin-top:-5.5em;
      margin-left:-1.5em ;
      box-sizing: border-box;
    }
    .f:hover{
      color: #ffffff;
    }
    .m{
      position: absolute;
      color: #000000;
      margin-top:3em;
      margin-left:em ;
      box-sizing: border-box;
    }
    .m:hover{
      color: #ffffff;
    }
#home {
    margin-left: 35em;
}
a:link {
    text-decoration: none;
  }
  .user{
    position: absolute;
    display: inline-block;
    align-items: center;
    column-gap: 1rem;
    margin-top:5px;
    margin-left:37em;

  }
  .cart{
    position: absolute;
    display: inline-block;
    align-items: center;
    column-gap: 1rem;
    margin-top:5px;
    margin-left:40em;
  }
  .user .bx{
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    color: rgb(0, 0, 0);
   
    border-radius: 50%;
    cursor: pointer;
  }
  
  .escrever{
    display: inline-block;
    position: absolute;
    margin-top:1.5em;
    margin-left: 10em;
  }

  #img1{
    margin-left: 1em;
  }
  .grande
  {position: absolute;
    
    width: 100%;
    height: 35em;
    background-color: #e7d8c98b;
    
    box-shadow: 10px 10px 40px black;
    margin-top: 7%;
  }
  .tii{
    position: absolute;
    display: inline-block;
    margin-top: 2.5em;
    margin-left:70em;
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    max-width: 700px;
    height: 470px;
  }
  .CONTAKT{
    position: absolute;
    margin-left: 15em;
    margin-top: 2em;
  }
  h3{
    margin: 1em;
  }
  h4{
    margin-top: -1em;
  }
  #ri{
    transition: transform 1s;
  }
  #ri:hover{
    transform: scale(0.9);
  }
  form{
    background: rgb(255, 255, 255);
    max-width: 400px;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 40px black;
   
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin-bottom: 25px;
}

form .input-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #000000;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000000;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #000000;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #000000;
}

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
    margin-top: 2em;
}

  
